[github]
  user = lerencao
[alias]
  br = branch
  st = status
  co = checkout
  # (ci)commit
  ci = commit
  cia = commit --amend
  # (df)diff
  df = diff
  dfc = diff --cached
  dft = difftool
  # (mg)merge
  mg = merge
  mgt = mergetool
  # nice logs
  glog = log --decorate --graph --date=short --pretty=\"format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C()%s %C(black) [%an]%Creset\"
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  graph = log --graph --all --decorate --stat --date=iso
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  mini = log --pretty=format:\"%h\"
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  changelog = log --pretty=format:\" * %s\"
  shortnocolor = log --pretty=format:\"%h %cr %cn %s\"
  ignores = "!gi() { curl -s https://www.gitignore.io/api/$@ ;}; gi"
[color]
	ui = true
  interactive = auto
[credential]
  helper = cache --timeout=86400

[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"

[merge]
  tool = meld
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"

[push]
  default = simple
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	email = funfriendcjf@gmail.com
	name = caojiafeng
[http "https://github.com"]
	proxy = socks5://0.0.0.0:1086
[https "https://github.com"]
    proxy = socks5://0.0.0.0:1086
